* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* color: #fff; */
  background-color: #4d736e;
  color: #fffff0;
}

header {
  background-color: #060126;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: #f2d6a2;
  text-decoration: none;
  padding: 12px 14px;
}
nav ul {
  display: flex;
}

nav ul li a:hover {
  color: #f2d6a2ab;
}

.main-logo a {
  text-decoration: none;
  font-size: xx-large;
  color: #f2d6a2;
  padding: 14px 14px;
  margin: auto 10px;
}

.main-logo a:hover {
  color: #f2d6a2ab;
}

/*Home*/
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  max-width: 200px;
  max-height: 300px;
  background-color: gray;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}
.card-title {
  background-color: #f2d6a2;
  max-width: 90%;
  margin: 12px auto;
}

.card-container {
  /* display: flex; */
}

/*Home ends*/

/* Table section */
/* #734D2D
#383D40 */
/* *************** */
.table {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.table-div {
  width: 80%;
  background-color: #f2d6a24d;
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}
table {
  border-collapse: collapse;
  width: 70%;
  border: 1px solid #060126;
}

th {
  border-bottom: 3px solid #060126;
  padding: 6px 5px;
}

thead {
  font-weight: bolder;
  background-color: #060126;
  color: #fff;
}

td,
th {
  text-align: center;
  width: 200px;
  border: 1px solid #fff;
  padding: 6px 18px;
  font-weight: 300;
  /* margin: 5px 5px; */
}
.table-body {
  color: #fff;
}
.odd {
  background-color: #302217;
}
.even {
  background-color: #383d40;
}

/**
* Boxes
*/

.box {
  border: 1px solid #fff;
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 35px;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
    background-color: gray;
}

.box1{
    border: 3px dotted #fff;
}

.box2{
    border:3px dashed #fff;
    border-radius:30px;
    background-color: rgb(144, 28, 28);

}

.box3{
    border-style: groove;
    border-width: 10px;
    border-color: green yellow blue red;

}

.box4{
    border-radius: 25px;
    border: 4px dashed;
    background-color: lightgreen;
}

.box5{
    border-radius: 50%;
}

.box6{
    border-radius: 70% 100px 70% 0;
    background-color: goldenrod;
}