*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
}

.logo{
    background-color: antiquewhite;
    flex: 1;
}

nav{
    background-color: beige;
    flex: 1;
}

nav ul li {
    list-style-type: none;
}
nav ul li a{
    color: #111;
    text-decoration: none;
    padding: 14px 16px;
    background-color: #fff;
   
}


nav ul {
    margin: 10px 10px;
    display: flex;
    align-items: center;
}


nav ul li{
    flex: 1;
    background-color: aqua;
    margin: 4px 4px;
    padding: 14px 16px;
}